<div id="banner"></div>
<div id="content">
	<div id="menu">
		<ul>
      <li>
        <a href="http://hackweeks.epplug.org/fr-fr/presentation">PRÉSENTATION</a> <span style="color: rgb(153, 153, 153);">selected</span>
      </li>
      <li>
        <a href="http://hackweeks.epplug.org/fr-fr/comment-participer">COMMENT PARTICIPER</a> <span style="color: rgb(153, 153, 153);"></span>
      </li>
      <li>
        <a href="http://hackweeks.epplug.org/fr-fr/projets">PROJETS</a> <span style="color: rgb(153, 153, 153);"></span>
      </li>
      <li>
        <a href="http://hackweeks.epplug.org/fr-fr/programme">PROGRAMME</a> <span style="color: rgb(153, 153, 153);"></span>
      </li>
      <li>
        <a href="{{show.url_for}}">RADIO</a> <span style="color: rgb(153, 153, 153);"></span>
      </li>
      <li>
        <a href="http://hackweeks.epplug.org/fr-fr/genese-des-hackweeks">GENÈSE DES HACKWEEKS</a> <span style="color: rgb(153, 153, 153);"></span>
      </li>
      <li>
        <a href="http://hackweeks.epplug.org/fr-fr/acces">ACCÈS</a> <span style="color: rgb(153, 153, 153);"></span>
      </li>
		</ul>
	</div>
	<div id="hat"></div>
	<div id="hat_title">RADIO</div>
	<div id="hat_header">Événement bi annuel pour la promotion des logiciels libres et  la libre diffusion des oeuvres </div>
	<div id="partners">
		PARTENAIRES
		<br/>
		<br/>
		<img src="{{theme.url_for_assets}}/images/logo_pref_region.jpg"/>
		<div>
			<a href="http://www.sommenumerique.fr/"> 
				<img src="{{theme.url_for_assets}}/images/logo_somme_numerique_1_100x150.png" alt="Somme Numerique logo"/>
			</a>
		</div>
		<div>
			<a href="http://www.oblady.com/"> 
				<img src="{{theme.url_for_assets}}/images/oblady_100x150.png" alt="Oblady logo"/>
			</a>
		</div>
		<div>
			<a href="http://www.ayllit.fr/"> 
				<img src="{{theme.url_for_assets}}/images/ayllit_logocolortextbelow_100x150.jpg" alt="Ayllit logo"/>
			</a>
		</div>
		<div>
			<a href="http://www.neuronnexion.coop/"> 
				<img src="{{theme.url_for_assets}}/images/nnx_100x150.png" alt="Neuronnexion logo"/>
			</a>
		</div>
		<div>
			<a href="http://www.radiocampusamiens.com/"> 
				<img src="{{theme.url_for_assets}}/images/logo_campus_amiens_100x150.png" alt="Radio Campus logo"/>
			</a>
		</div>
		<div>
			<a href="http://www.jenniwolfangel.com/"> 
				<img src="{{theme.url_for_assets}}/images/jwd_logo_300x101_100x150.png" alt="Jenni Wolfangel logo"/>
			</a>
		</div>
		<div>
			<a href="http://www.epplug.org/"> 
				<img src="{{theme.url_for_assets}}/images/logo_epplug_100x150.png" alt="EPPLUG logo"/>
			</a>
		</div>
		<div>
			<a href="http://emmaus-somme.org/"> 
				<img src="{{theme.url_for_assets}}/images/logo-emmaus-61e28_100x150.jpg" alt="Emmaus Somme logo"/>
			</a>
		</div>
		<div>
			<a href="http://www.eventex.fr/"> 
				<img src="{{theme.url_for_assets}}/images/eventex_100x150.png" alt="Eventex logo"/>
			</a>
		</div>
		<div>
			<a href="http://tryphon.eu/" title="Tryphon : Radio, Web et Logiciel Libre"> 
				<img src="{{theme.url_for_assets}}/images/tryphon.png" alt="Tryphon : Radio, Web et Logiciel Libre"/>
			</a>
		</div>
	</div>
  <div id="podcast_link">
    <a href="#podcast" onclick="Effect.ScrollTo('podcast'); return false;">Podcast</a>
  </div>
